BOT_TOKEN=''
# YooCassa
# .env
YOOKASSA_SHOP_ID=''
YOOKASSA_SECRET_KEY=''
# DB
DB_NAME=''
DB_USER=''
DB_PASSWORD=''
DB_HOST=
DB_PORT=
# Not used in opensource version
BOT_IP=127.0.0.1
SERVER_URL=''
DOMAIN=''
USE_WEBHOOK=False
ADMIN=1146900703
# Not used without domain
MARZ_HAS_CERTIFICATE=False
CERT_FULLCHAIN_PATH=/c/Users/saids/telegram-vpn-bot/fullchain.pem
CERT_KEY_PATH=/c/Users/saids/telegram-vpn-bot/privkey.pem
